---
import { getEntry } from "astro:content";

import { regionValue } from "~/lib/utilities";

export const partial = true;

const id = Astro.params.id!;
const entry = await getEntry("card", id);
if (!entry) return new Response(null, { status: 404 });

const name = regionValue.unwrap(entry.data.name);
const character = regionValue.unwrap(
	(await getEntry(entry.data.character)).data.name,
);

const trained = Astro.url.searchParams.get("trained") === "true";
const images = [
	{
		src: `/static/assets/card/${id}/image.png`,
		alt: `${character} - ${name}`,
	},
	{
		src: `/static/assets/card/${id}/image-trained.png`,
		alt: `Trained ${character} - ${name}`,
	},
];
---

<main>
	<figure class="hover-gallery rounded-box aspect-4/3 w-64 sm:w-lg">
		{
			(trained ? [...images].reverse() : images).map((props) => (
				<img {...props} />
			))
		}
	</figure>
</main>
