---
import { Icon } from "astro-icon/components";

import { gacha_map } from "@/contents/data";
import { getEventAsset } from "~/lib/assets";
import { formatNumber, sum } from "~/lib/math";
import { regionValue } from "~/lib/utilities";
import { calculateEvents } from "./_calculate";
import { getOptions } from "./_options";

export const partial = true;

const gacha = gacha_map.get(Astro.params.gacha_id!);
if (!gacha) {
	return new Response("Gacha not found.", { status: 404 });
}

const options = await getOptions(Astro);
const events = regionValue.unwrap(gacha.events)!;
const results = calculateEvents([...events.past, events.active], options);
---

<main>
	<div class="text-center">
		<h2 class="text-2xl font-medium">Parameters</h2>
		<div class="mt-2 inline-flex flex-wrap justify-center gap-1 font-medium">
			<div
				class:list={[
					"badge",
					options.target_point > 0 ? "badge-primary" : "badge-neutral",
				]}
			>
				Point : &ge;{formatNumber(options.target_point)}
			</div>
			<div
				class:list={[
					"badge",
					options.target_rank > 0 ? "badge-primary" : "badge-neutral",
				]}
			>
				Rank : &le;T{options.target_rank}
			</div>
			<div
				class:list={[
					"badge",
					options.read_stories ? "badge-primary" : "badge-neutral",
				]}
			>
				<Icon
					name={options.read_stories ? "lucide:check" : "lucide:x"}
					class="size-4.5"
				/>
				Story
			</div>
		</div>
	</div>

	<ul
		class="timeline timeline-snap-icon max-md:timeline-compact timeline-vertical mt-8"
	>
		{
			results.map(async ({ data: event, ...stars }, idx) => (
				<li>
					{idx > 0 && <hr />}
					<div class="timeline-middle">
						<Icon name="lucide:calendar-clock" />
					</div>
					<div
						class:list={[
							"mb-10",
							idx % 2 === 0
								? "timeline-start md:justify-items-end md:text-end"
								: "timeline-end",
						]}
					>
						<div
							class:list={[
								"badge not-dark:badge-soft badge-neutral",
								idx % 2 === 0 && "md:flex-row-reverse",
							]}
						>
							<Icon
								name="emojione:flag-for-japan"
								class="size-6 rounded-full border border-current"
							/>
							<div>
								<time datetime={event.startAt.jp.toISOString()}>
									{event.startAt.jp.format("DD-MM-YYYY")}
								</time>
								&ndash;
								<time datetime={event.endAt.jp.toISOString()}>
									{event.endAt.jp.format("DD-MM-YYYY")}
								</time>
							</div>
						</div>

						<div class="font-semibold max-sm:mt-1 sm:text-lg">{event.name}</div>
						<img
							{...await getEventAsset(Astro, { event, kind: "banner" })}
							class="rounded-box aspect-3/1 w-96"
						/>

						<div
							class:list={[
								"mt-2 inline-flex flex-wrap gap-1",
								idx % 2 === 0 && "md:flex-row-reverse",
							]}
						>
							{Object.entries(stars)
								.filter(([, value]) => value > 0)
								.map(([label, value]) => (
									<div class="badge badge-accent capitalize">
										{label} : {value}&starf;
									</div>
								))}

							<div class="badge badge-info">
								Total : {sum(Object.values(stars))}&starf;
							</div>
						</div>
					</div>
					{idx < results.length - 1 && <hr />}
				</li>
			))
		}
	</ul>
</main>
