---
import { Icon } from "astro-icon/components";

import { gacha_map } from "@/contents/data";
import { getEventBanner } from "~/lib/assets";
import { formatNumber } from "~/lib/math";
import { regionValue } from "~/lib/utilities";
import { calculateEvents } from "./_calculate";
import { getParams } from "./_params";

export const partial = true;

const gacha = gacha_map.get(Astro.params.gacha_id!);
if (!gacha) {
	return new Response("Gacha not found.", { status: 404 });
}

const params = getParams(Astro);
const events = regionValue.unwrap(gacha.events)!;
const results = calculateEvents(events, params);
---

<main>
	<div class="text-center">
		<h2 class="text-2xl font-medium">Parameters</h2>
		<div class="mt-2 inline-flex gap-1 font-medium">
			<div
				class:list={[
					"badge",
					params.point > 0 ? "badge-primary" : "badge-neutral",
				]}
			>
				Point : {formatNumber(params.point)}
			</div>
			<div
				class:list={[
					"badge",
					Number.isFinite(params.rank) ? "badge-primary" : "badge-neutral",
				]}
			>
				Rank : T{Number.isFinite(params.rank) ? params.rank : 0}
			</div>
			<div
				class:list={[
					"badge",
					params.readStories ? "badge-primary" : "badge-neutral",
				]}
			>
				<Icon
					name={params.readStories ? "lucide:check" : "lucide:x"}
					class="size-4.5"
				/>
				Story
			</div>
		</div>
	</div>

	<ul
		class="timeline timeline-snap-icon max-md:timeline-compact timeline-vertical mt-8"
	>
		{
			results.map(async ({ data, point, rank, story }, idx) => (
				<li>
					{idx > 0 && <hr />}
					<div class="timeline-middle">
						<Icon name="lucide:calendar-clock" />
					</div>
					<div
						class={
							idx % 2 === 0
								? "timeline-start mb-10 md:text-end"
								: "timeline-end mb-10"
						}
					>
						<div class="badge badge-secondary">
							<Icon
								name="emojione:flag-for-japan"
								class="size-6 rounded-full border border-current"
							/>
							<time datetime={data.startAt.jp.toISOString()}>
								{data.startAt.jp.format("DD-MM-YYYY")}
							</time>
							&ndash;
							<time datetime={data.endAt.jp.toISOString()}>
								{data.endAt.jp.format("DD-MM-YYYY")}
							</time>
						</div>

						<div class="font-semibold max-sm:mt-1 sm:text-lg">{data.name}</div>
						<img
							{...await getEventBanner(Astro, { event: data })}
							class="aspect-3/1 w-96"
						/>

						<div class="mt-2 inline-flex flex-wrap gap-1">
							<div class="badge badge-accent">Point : {point}&starf;</div>
							<div class="badge badge-accent">Rank : {rank}&starf;</div>
							<div class="badge badge-accent">Story : {story}&starf;</div>
						</div>
					</div>
					{idx < results.length - 1 && <hr />}
				</li>
			))
		}
	</ul>
</main>
