---
import { gacha_map } from "@/contents/data";
import GachaCardGridItem from "~/components/gacha-card-grid-item.astro";
import BaseLayout from "~/layouts/base-layout.astro";
import { getEventAsset } from "~/lib/assets";
import { formatNumber, sum } from "~/lib/math";
import { regionValue } from "~/lib/utilities";
import { calculateEvents } from "./_calculate";
import { getParams } from "./_params";

const gacha = gacha_map.get(Astro.params.gacha_id!);
if (!gacha) {
	return new Response("Gacha not found.", { status: 404 });
}

const params = getParams(Astro);
const events = regionValue.unwrap(gacha.events)!;
const freeStars = {
	events: (() => {
		const results = calculateEvents([...events.past, events.active], params);
		const summed = {
			point: sum(results.map(({ point }) => point)),
			rank: sum(results.map(({ rank }) => rank)),
			story: sum(results.map(({ story }) => story)),
		};

		return { ...summed, total: sum(Object.values(summed)) };
	})(),
};

const suggestions = [...events.past, events.active].reduce(
	(acc, next) => {
		if (!next) return acc;

		const { pointRewards, rankingRewards } = next;
		for (const { point } of pointRewards) acc.points.add(point);
		for (const { rank } of rankingRewards) acc.rankings.add(rank);
		return acc;
	},
	{ points: new Set<number>(), rankings: new Set<number>() },
);
---

<BaseLayout>
	{
		events.active && (
			<img
				{...await getEventAsset(Astro, {
					event: events.active,
					kind: "background",
				})}
				class="pointer-events-none fixed -z-1 h-screen w-screen object-cover"
			/>
		)
	}

	<div
		class="container mx-auto grid max-w-xs gap-4 py-8 sm:max-w-sm md:max-w-2xl md:grid-cols-2"
	>
		<GachaCardGridItem
			{gacha}
			class:list={[
				"md:order-2",
				events.active && "bg-base-100/80 backdrop-blur-sm",
			]}
		/>

		<form
			up-target="#free-stars"
			up-autosubmit
			up-watch-disable
			up-watch-delay="200"
			class="md:order-1 md:row-span-2"
		>
			<fieldset
				class:list={[
					"fieldset bg-base-200 border-base-300 rounded-box h-full border p-4",
					events.active && "bg-base-200/67 backdrop-blur-sm",
				]}
			>
				<label class="label">Event points</label>
				<select name="target_point" class="select">
					<option value="" disabled selected>Pick a point</option>
					{
						[...suggestions.points]
							.sort((a, b) => b - a)
							.map((point) => (
								<option value={point}>{formatNumber(point)}</option>
							))
					}
				</select>

				<label class="label">Event rank</label>
				<select name="target_rank" class="select">
					<option value="" disabled selected>Pick a rank</option>
					{
						[...suggestions.rankings]
							.sort((a, b) => a - b)
							.map((rank) => <option value={rank}>T{rank}</option>)
					}
				</select>

				<fieldset
					class="fieldset bg-base-100 border-base-300 rounded-box border p-4 pt-2"
				>
					<legend class="fieldset-legend">Options</legend>
					<label class="label">
						<input
							name="read_stories"
							type="checkbox"
							class="checkbox"
							value="true"
						/>
						Read all event stories
					</label>
				</fieldset>
			</fieldset>
		</form>

		<div
			id="free-stars"
			class:list={[
				"card bg-base-100 shadow-sm md:order-3",
				events.active && "bg-base-100/67 backdrop-blur-sm",
			]}
		>
			<div class="card-body items-center text-center">
				<h2 class="card-title">Free stars</h2>

				<div class="flex w-full items-center justify-evenly">
					<div class="grid grid-cols-2 gap-x-4 gap-y-0.5 text-start">
						<span>Point</span>
						<span>{formatNumber(freeStars.events.point)}</span>
						<span>Rank</span>
						<span>{formatNumber(freeStars.events.rank)}</span>
						<span>Stories</span>
						<span>{formatNumber(freeStars.events.story)}</span>
					</div>

					<div class="grid flex-1 gap-0.5">
						<span>Total</span>
						<span>{formatNumber(freeStars.events.total)}</span>
						<span>{Math.floor(freeStars.events.total / 250)} pull(s)</span>
					</div>
				</div>

				<a
					up-layer="new"
					up-size="large"
					up-history="false"
					href={`/calculate/gacha/${Astro.params.gacha_id}/detailed${Astro.url.search}`}
					class:list={[
						"btn btn-sm mt-4 w-full",
						freeStars.events.total === 0 && "btn-disabled",
					]}
				>
					Show details
				</a>
			</div>
		</div>
	</div>
</BaseLayout>
