---
import { gacha_map } from "@/contents/data";
import GachaCardGridItem from "~/components/gacha-card-grid-item.astro";
import BaseLayout from "~/layouts/base-layout.astro";
import { formatNumber, sum } from "~/lib/math";
import { regionValue } from "~/lib/utilities";
import { calculateEvents } from "./_calculate";
import { getParams } from "./_params";

const gacha = gacha_map.get(Astro.params.gacha_id!);
if (!gacha) {
	return new Response("Gacha not found.", { status: 404 });
}

const params = getParams(Astro);
const events = regionValue.unwrap(gacha.events)!;
const freeStars = {
	events: (() => {
		const results = calculateEvents(events, params);
		const summed = {
			point: sum(results.map(({ point }) => point)),
			rank: sum(results.map(({ rank }) => rank)),
			story: sum(results.map(({ story }) => story)),
		};

		return { ...summed, total: sum(Object.values(summed)) };
	})(),
};

const suggestions = events.reduce(
	(acc, { pointRewards, rankingRewards }) => {
		for (const { point } of pointRewards) acc.points.add(point);
		for (const { rank } of rankingRewards) acc.rankings.add(rank);
		return acc;
	},
	{ points: new Set<number>(), rankings: new Set<number>() },
);
---

<BaseLayout>
	<div
		class="container mx-auto grid max-w-xs gap-4 py-8 sm:max-w-sm md:max-w-2xl md:grid-cols-2"
	>
		<GachaCardGridItem {gacha} class="md:order-2" />

		<form
			up-target="#free-stars"
			up-autosubmit
			class="md:order-1 md:row-span-2"
		>
			<fieldset
				class="fieldset bg-base-200 border-base-300 rounded-box h-full border p-4"
			>
				<label class="label">Event points</label>
				<select name="target_point" class="select">
					<option value="" disabled selected>Pick a point</option>
					{
						[...suggestions.points]
							.sort((a, b) => b - a)
							.map((point) => (
								<option value={point}>{formatNumber(point)}</option>
							))
					}
				</select>

				<label class="label">Event rank</label>
				<select name="target_rank" class="select">
					<option value="" disabled selected>Pick a rank</option>
					{
						[...suggestions.rankings]
							.sort((a, b) => a - b)
							.map((rank) => <option value={rank}>T{rank}</option>)
					}
				</select>

				<fieldset
					class="fieldset bg-base-100 border-base-300 rounded-box border p-4 pt-2"
				>
					<legend class="fieldset-legend">Options</legend>
					<label class="label">
						<input
							name="read_stories"
							type="checkbox"
							class="checkbox"
							value="true"
						/>
						Read all event stories
					</label>
				</fieldset>
			</fieldset>
		</form>

		<div id="free-stars" class="card bg-base-100 shadow-sm md:order-3">
			<div class="card-body items-center text-center">
				<h2 class="card-title">Free stars</h2>

				<div class="flex w-full items-center justify-evenly">
					<div class="grid grid-cols-2 gap-x-4 gap-y-0.5 text-start">
						<span>Point</span>
						<span>{formatNumber(freeStars.events.point)}</span>
						<span>Rank</span>
						<span>{formatNumber(freeStars.events.rank)}</span>
						<span>Stories</span>
						<span>{formatNumber(freeStars.events.story)}</span>
					</div>

					<div class="grid flex-1 gap-0.5">
						<span>Total</span>
						<span>{formatNumber(freeStars.events.total)}</span>
						<span>{Math.floor(freeStars.events.total / 250)} pull(s)</span>
					</div>
				</div>

				<a
					up-layer="new"
					up-size="large"
					up-history="false"
					href={`/calculate/gacha/${Astro.params.gacha_id}/detailed${Astro.url.search}`}
					class:list={[
						"btn btn-sm btn-primary mt-4 w-full",
						freeStars.events.total === 0 && "pointer-events-none opacity-0",
					]}>Show details</a
				>
			</div>
		</div>
	</div>
</BaseLayout>
