---
import { gacha_map } from "@/contents/data";
import GachaCardGridItem from "~/components/gacha-card-grid-item.astro";
import BaseLayout from "~/layouts/base-layout.astro";
import { getEventAsset } from "~/lib/assets";
import { formatNumber, sum } from "~/lib/math";
import { regionValue } from "~/lib/utilities";
import { calculateEvents, calculatePassive } from "./_calculate";
import { getOptions } from "./_options";

const gacha = gacha_map.get(Astro.params.gacha_id!);
if (!gacha) {
	return new Response("Gacha not found.", { status: 404 });
}

const options = await getOptions(Astro);
const events = regionValue.unwrap(gacha.events)!;
const allEvents = [...events.past, events.active];
const [from, to] = [events.past.at(0)!.endAt.jp, gacha.endAt.jp];

const freeStars = {
	events: (() => {
		const results = calculateEvents(allEvents, options);
		const stars = {
			point: sum(results.map(({ point }) => point)),
			rank: sum(results.map(({ rank }) => rank)),
			story: sum(results.map(({ story }) => story)),
		};

		const total = sum(Object.values(stars));
		const pulls = Math.floor(total / 250);

		return { stars, total, pulls };
	})(),
	passive: (() => {
		const { dailyLogin, dailyLives } = calculatePassive({ from, to });
		const stars = { dailyLogin: dailyLogin.stars };
		const starGachaTicket = { dailyLives: dailyLives.starGachaTicket };

		const total = sum(Object.values(stars));
		const pulls = [
			Math.floor(total / 250),
			sum(Object.values(starGachaTicket)),
		];

		return { stars, starGachaTicket, total, pulls };
	})(),
};

const values = allEvents.reduce(
	(acc, next) => {
		if (!next) return acc;

		const { pointRewards, rankingRewards } = next;
		for (const { point } of pointRewards) acc.points.add(point);
		for (const { rank } of rankingRewards) acc.rankings.add(rank);
		return acc;
	},
	{ points: new Set<number>(), rankings: new Set<number>() },
);
---

<BaseLayout>
	{
		events.active && (
			<img
				{...await getEventAsset(Astro, {
					event: events.active,
					kind: "background",
				})}
				class="pointer-events-none fixed -z-1 h-screen w-screen object-cover"
			/>
		)
	}

	<div
		class="container mx-auto grid max-w-xs gap-4 py-8 sm:max-w-sm md:max-w-2xl md:grid-cols-2"
	>
		<GachaCardGridItem
			{gacha}
			class:list={[
				"md:order-2",
				events.active && "bg-base-100/80 backdrop-blur-sm",
			]}
		/>

		<form
			up-target="#free-stars-passive, #free-stars-events"
			up-autosubmit
			up-watch-disable
			up-watch-delay="200"
		>
			<fieldset
				class:list={[
					"fieldset bg-base-200 border-base-300 rounded-box h-full border p-4",
					events.active && "bg-base-200/67 backdrop-blur-sm",
				]}
			>
				<label class="label">Event points</label>
				<select name="target_point" class="select">
					<option value="" disabled selected={options.target_point === 0}
						>Pick a point</option
					>

					{
						[...values.points]
							.sort((a, b) => b - a)
							.map((point) => (
								<option value={point} selected={options.target_point === point}>
									{formatNumber(point)}
								</option>
							))
					}
				</select>

				<label class="label">Event rank</label>
				<select name="target_rank" class="select">
					<option value="" disabled selected={options.target_rank === 0}
						>Pick a rank</option
					>

					{
						[...values.rankings]
							.sort((a, b) => a - b)
							.map((rank) => (
								<option value={rank} selected={options.target_rank === rank}>
									T{rank}
								</option>
							))
					}
				</select>

				<fieldset
					class="fieldset bg-base-100 border-base-300 rounded-box border p-4 pt-2"
				>
					<legend class="fieldset-legend">Options</legend>
					<label class="label">
						<input
							name="read_stories"
							type="checkbox"
							class="checkbox"
							value="true"
							checked={options.read_stories}
						/>
						Read all event stories
					</label>
				</fieldset>
			</fieldset>
		</form>

		<div
			id="free-stars-passive"
			class:list={[
				"card bg-base-100 shadow-sm md:order-2",
				events.active && "bg-base-100/80 backdrop-blur-sm",
			]}
		>
			<div class="card-body items-center text-center">
				<h2 class="card-title">Free stars (Passive)</h2>

				<div class="flex flex-col gap-1">
					<div
						class:list={[
							"badge w-64",
							freeStars.passive.stars.dailyLogin > 0
								? "badge-accent"
								: "badge-neutral",
						]}
					>
						Daily login : {
							formatNumber(freeStars.passive.stars.dailyLogin)
						}&starf;
					</div>
					<div
						class:list={[
							"badge w-64",
							freeStars.passive.starGachaTicket.dailyLives > 0
								? "badge-accent"
								: "badge-neutral",
						]}
					>
						Daily lives : {freeStars.passive.starGachaTicket.dailyLives}&Cross;
						Star Gacha Ticket
					</div>

					<div class="flex gap-1">
						<div class="badge badge-info">
							Total: {formatNumber(freeStars.passive.total)}&starf;
						</div>
						<div class="badge badge-info flex-1">
							{freeStars.passive.pulls[0]}&Cross; Pulls &plus; {
								freeStars.passive.pulls[1]
							}&Cross; Pulls
						</div>
					</div>
				</div>
			</div>
		</div>

		<div
			id="free-stars-events"
			class:list={[
				"card bg-base-100 shadow-sm md:order-2",
				events.active && "bg-base-100/80 backdrop-blur-sm",
			]}
		>
			<div class="card-body items-center text-center">
				<h2 class="card-title">Free stars (Events)</h2>

				<div class="flex w-full items-center justify-around">
					<div class="flex flex-col gap-1">
						{
							Object.entries(freeStars.events.stars).map(([label, value]) => (
								<div
									class:list={[
										"badge w-32 capitalize",
										value > 0 ? "badge-accent" : "badge-neutral",
									]}
								>
									{label} : {formatNumber(value)}&starf;
								</div>
							))
						}
					</div>

					<div class="flex flex-col gap-2">
						<div class="badge badge-info w-32">
							Total: {formatNumber(freeStars.events.total)}&starf;
						</div>
						<div class="badge badge-info w-32">
							{freeStars.events.pulls}&Cross; {
								freeStars.events.pulls > 1 ? "Pulls" : "Pull"
							}
						</div>
					</div>
				</div>

				<a
					up-layer="new"
					up-size="large"
					up-history="false"
					href={`/calculate/gacha/${Astro.params.gacha_id}/detailed${Astro.url.search}`}
					class:list={[
						"btn btn-sm border-primary-content btn-primary w-full border",
						freeStars.events.total === 0 && "btn-disabled border-0",
					]}
				>
					Show details
				</a>
			</div>
		</div>
	</div>
</BaseLayout>
