---
import type { Entry } from "@/contents/data";
import { formatNumber, sum } from "~/lib/math";
import { calculateEvents } from "../_calculate";
import { STARS_PER_PULL } from "../_constants";
import { getOptions } from "../_options";

interface Props {
	events: (Entry<"event_map"> | null)[];
}

const { events } = Astro.props;
const options = await getOptions(Astro);

const results = calculateEvents(events, options);
const stars = {
	point: sum(results.map(({ point }) => point)),
	rank: sum(results.map(({ rank }) => rank)),
	story: sum(results.map(({ story }) => story)),
};

const total = sum(Object.values(stars));
const pulls = Math.floor(total / STARS_PER_PULL);
---

<>
	<div class="flex w-full items-center justify-around">
		<div class="flex flex-col gap-1">
			{
				Object.entries(stars).map(([label, value]) => (
					<div
						class:list={[
							"badge w-32 capitalize",
							value > 0 ? "badge-accent" : "badge-neutral",
						]}
					>
						{label} : {formatNumber(value)}&starf;
					</div>
				))
			}
		</div>

		<div class="flex flex-col gap-2">
			<div class="badge badge-info w-32">
				Total: {formatNumber(total)}&starf;
			</div>
			<div class="badge badge-info w-32">
				{pulls}&Cross; {pulls > 1 ? "Pulls" : "Pull"}
			</div>
		</div>
	</div>

	<a
		up-layer="new"
		up-size="large"
		up-history="false"
		href={`/calculate/gacha/${Astro.params.gacha_id}/details/event${Astro.url.search}`}
		class:list={[
			"btn btn-sm border-primary-content btn-primary w-full border",
			total === 0 && "btn-disabled border-0",
		]}
	>
		Show details
	</a>
</>
