---
import { Icon } from "astro-icon/components";

import { gacha_map, song_map } from "@/contents/data";
import GachaCardGridItem from "~/components/gacha-card-grid-item.astro";
import BaseLayout from "~/layouts/base-layout.astro";
import { getEventAsset } from "~/lib/assets";
import { getDateOffset, now } from "~/lib/date";
import { formatNumber } from "~/lib/math";
import { regionValue } from "~/lib/utilities";
import FreeStarsCard from "./_components/free-stars-card.astro";
import FreeStarsDaily from "./_components/free-stars-daily.astro";
import FreeStarsEvents from "./_components/free-stars-events.astro";
import FreeStarsSongs from "./_components/free-stars-songs.astro";
import InputFieldset from "./_components/input-fieldset.astro";
import { getOptions } from "./_options";

const gacha = gacha_map.get(Astro.params.gacha_id!);
if (!gacha) {
	return new Response("Gacha not found.", { status: 404 });
}

const options = await getOptions(Astro);
const events = regionValue.unwrap(gacha.events)!;
const allEvents = [...events.past, events.active];
const dateOffset = getDateOffset(events.past[0].startAt);
const [from, to] = [now().subtract(dateOffset), gacha.endAt.jp];

const { pointChoices, rankChoices } = allEvents.reduce(
	(acc, next) => {
		if (!next) return acc;

		const { pointRewards, rankingRewards } = next;
		for (const { point } of pointRewards) acc.pointChoices.add(point);
		for (const { rank } of rankingRewards) acc.rankChoices.add(rank);
		return acc;
	},
	{ pointChoices: new Set<number>(), rankChoices: new Set<number>() },
);
const songLevelChoices = new Set(
	[...song_map.values()].flatMap(({ fullComboRewards }) =>
		Object.values(fullComboRewards)
			.map((it) => it?.level)
			.filter((level) => level !== undefined),
	),
);
---

<BaseLayout>
	{
		events.active && (
			<img
				{...await getEventAsset(Astro, {
					event: events.active,
					kind: "background",
				})}
				class="pointer-events-none fixed -z-1 h-screen w-screen object-cover"
			/>
		)
	}

	<div
		class="container mx-auto grid max-w-xs gap-2 py-8 sm:max-w-lg md:max-w-2xl md:grid-cols-2 lg:max-w-4xl lg:grid-cols-3"
	>
		<GachaCardGridItem
			{gacha}
			compact
			class:list={[
				"md:order-2",
				events.active && "bg-base-100/80 backdrop-blur-sm",
			]}
		/>

		<form
			up-target="#free-stars, #show-details"
			up-autosubmit
			up-watch-disable
			up-watch-delay="200"
			class:list={[
				"bg-base-200 border-base-300 rounded-box grid h-full content-center gap-x-2 border p-4 sm:grid-cols-2 md:row-span-2 md:grid-cols-1 lg:col-span-2 lg:row-span-1 lg:grid-cols-2",
				events.active && "bg-base-200/67 backdrop-blur-sm",
			]}
		>
			<InputFieldset
				title="Events"
				class="sm:col-span-2 md:col-span-1 lg:row-span-2"
			>
				<label class="select">
					<span class="label">Event points</span>
					<select name="target_point">
						<option value="" disabled selected={options.target_point === 0}
							>Pick a point</option
						>

						{
							[...pointChoices]
								.sort((a, b) => b - a)
								.map((point) => (
									<option
										value={point}
										selected={options.target_point === point}
									>
										&ge;{formatNumber(point)}
									</option>
								))
						}
					</select>
				</label>

				<label class="select">
					<span class="label">Event rank</span>
					<select name="target_rank">
						<option value="" disabled selected={options.target_rank === 0}
							>Pick a rank</option
						>

						{
							[...rankChoices]
								.sort((a, b) => a - b)
								.map((rank) => (
									<option value={rank} selected={options.target_rank === rank}>
										&le;T{rank}
									</option>
								))
						}
					</select>
				</label>

				<label class="label">
					<input
						name="read_event_story"
						type="checkbox"
						class="checkbox"
						value="true"
						checked={options.read_event_story}
					/>
					Read event stories
				</label>
			</InputFieldset>

			<InputFieldset
				title="Daily"
				class="grid-cols-2 sm:grid-cols-1 md:grid-cols-2"
			>
				<label class="label">
					<input
						name="daily_login"
						type="checkbox"
						class="checkbox checkbox-sm"
						value="true"
						checked={options.daily_login}
					/>
					Daily login
				</label>

				<label class="label">
					<input
						name="daily_live"
						type="checkbox"
						class="checkbox checkbox-sm"
						value="true"
						checked={options.daily_live}
					/>
					Daily live
				</label>
			</InputFieldset>

			<InputFieldset title="Songs" class="grid-cols-2">
				<label class="label">
					<input
						name="song_s_score"
						type="checkbox"
						class="checkbox checkbox-sm"
						value="true"
						checked={options.song_s_score}
					/>
					S Score
				</label>
				<label class="label">
					<input
						name="song_ss_score"
						type="checkbox"
						class="checkbox checkbox-sm"
						value="true"
						checked={options.song_ss_score}
					/>
					SS Score
				</label>

				<label class="select select-sm col-span-2 w-max">
					<span class="label">Full combo</span>

					<select name="song_full_combo_level">
						<option
							value=""
							disabled
							selected={options.song_full_combo_level === 0}>Pick level</option
						>

						{
							[...songLevelChoices]
								.sort((a, b) => a - b)
								.map((level) => (
									<option
										value={level}
										selected={options.song_full_combo_level === level}
									>
										Level &le;{level}
									</option>
								))
						}
					</select>
				</label>
			</InputFieldset>
		</form>

		<div id="free-stars" class="contents">
			<FreeStarsCard title="Free stars (songs)" backdrop={!!events.active}>
				<FreeStarsSongs until={to} />
			</FreeStarsCard>

			<FreeStarsCard title="Free stars (daily)" backdrop={!!events.active}>
				<FreeStarsDaily {from} {to} />
			</FreeStarsCard>

			<FreeStarsCard title="Free stars (events)" backdrop={!!events.active}>
				<FreeStarsEvents events={allEvents} />
			</FreeStarsCard>
		</div>

		<div id="show-details" class="contents">
			<a
				up-layer="new"
				up-history="false"
				href={`/calculate-gacha/${Astro.params.gacha_id}/partials/song-list${Astro.url.search}`}
				class:list={[
					"btn bg-primary border-primary-content w-full border max-md:hidden md:order-2 md:col-span-2 lg:col-span-1",
					options.song_s_score ||
					options.song_ss_score ||
					options.song_full_combo_level > 0
						? "btn-primary"
						: "btn-disabled",
				]}
			>
				Show details (songs)
			</a>

			<a
				up-layer="new"
				up-size="large"
				up-history="false"
				href={`/calculate-gacha/${Astro.params.gacha_id}/partials/calendar${Astro.url.search}`}
				class:list={[
					"btn bg-primary border-primary-content w-full border max-md:hidden md:order-2 md:col-span-2",
					options.target_point > 0 ||
					options.target_rank > 0 ||
					options.read_event_story ||
					options.daily_login ||
					options.daily_live
						? "btn-primary"
						: "btn-disabled",
				]}
			>
				Show details (daily &amp; events)
			</a>

			<div class="fab md:hidden">
				<div tabindex="0" role="button" class="btn btn-xl btn-circle btn-info">
					<Icon name="lucide:calculator" />
				</div>

				<div class="fab-close">
					<span class="btn btn-xl btn-circle btn-error">
						<Icon name="lucide:x" />
					</span>
				</div>

				<div>
					<a
						up-layer="new"
						up-size="large"
						up-history="false"
						href={`/calculate-gacha/${Astro.params.gacha_id}/partials/calendar${Astro.url.search}`}
						class:list={[
							"btn bg-primary border-primary-content w-full border",
							options.target_point > 0 ||
							options.target_rank > 0 ||
							options.read_event_story ||
							options.daily_login ||
							options.daily_live
								? "btn-primary"
								: "btn-disabled",
						]}
					>
						Show details (daily &amp; events)
					</a>
				</div>
				<div>
					<a
						up-layer="new"
						up-history="false"
						href={`/calculate-gacha/${Astro.params.gacha_id}/partials/song-list${Astro.url.search}`}
						class:list={[
							"btn bg-primary border-primary-content w-full border",
							options.song_s_score ||
							options.song_ss_score ||
							options.song_full_combo_level > 0
								? "btn-primary"
								: "btn-disabled",
						]}
					>
						Show details (songs)
					</a>
				</div>
			</div>
		</div>
	</div>
</BaseLayout>
