---
import { Icon } from "astro-icon/components";

import { gacha_map, song_map } from "@/contents/data";
import GachaCard from "~/components/gacha-card.astro";
import BaseLayout from "~/layouts/base-layout.astro";
import { getEventAsset, getGachaBanner } from "~/lib/assets";
import { dayjs, getDateOffset, now } from "~/lib/date";
import { formatNumber, sum } from "~/lib/math";
import { pluralize, regionValue } from "~/lib/utilities";
import {
	calculateDaily,
	calculateEvents,
	calculateMonthlyPass,
	calculateSongs,
} from "./_calculate";
import FreeStarsCard from "./_components/free-stars-card.astro";
import FreeStarsDaily from "./_components/free-stars-daily.astro";
import FreeStarsEvents from "./_components/free-stars-events.astro";
import FreeStarsMonthlyPass from "./_components/free-stars-monthly-pass.astro";
import FreeStarsSongs from "./_components/free-stars-songs.astro";
import InputFieldset from "./_components/input-fieldset.astro";
import ShowDetailsButton from "./_components/show-details-button.astro";
import {
	STARS_FROM_FREE_MONTHLY_PASS,
	STARS_FROM_PAID_MONTHLY_PASS,
	STARS_PER_PULL,
} from "./_constants";
import { getOptions } from "./_options";

const gacha = gacha_map.get(Astro.params.gacha_id!);
if (!gacha) {
	return new Response("Gacha not found.", { status: 404 });
}

const options = await getOptions(Astro);
if (Astro.url.searchParams.size === 0)
	Astro.url.search = new URLSearchParams(
		Object.entries(options).map(([k, v]) => [k, v.toString()]),
	).toString();

const events = regionValue.unwrap(gacha.events)!;
const allEvents = [...events.past, events.active];
const dateOffset = getDateOffset((events.past.at(0) ?? events.active!).startAt);
const [from, to] = [now().subtract(dateOffset), gacha.endAt.jp];

const { total, pulls } = (() => {
	const events = calculateEvents(allEvents, options);
	const daily = calculateDaily({ from, to }, options);
	const monthlyPass = calculateMonthlyPass({ from, to }, options);
	const songs = calculateSongs(to, options);

	const total = {
		stars: sum(
			[
				events.flatMap(({ data, ...stars }) => Object.values(stars)),
				daily.stars.dailyLogin,
				monthlyPass.stars,
				songs.flatMap(({ fullCombo, score }) => [
					...Object.values(fullCombo).map(({ stars }) => stars),
					...Object.values(score),
				]),
			].flat(),
		),
		starGachaTicket: daily.starGachaTicket.dailyLives,
	};

	return { total, pulls: Math.floor(total.stars / STARS_PER_PULL) };
})();

const { pointChoices, rankChoices } = allEvents.reduce(
	(acc, next) => {
		if (!next) return acc;

		const { pointRewards, rankingRewards } = next;
		for (const { point } of pointRewards) acc.pointChoices.add(point);
		for (const { rank } of rankingRewards) acc.rankChoices.add(rank);
		return acc;
	},
	{ pointChoices: new Set<number>(), rankChoices: new Set<number>() },
);
const livePointChoices = new Set(
	[...STARS_FROM_FREE_MONTHLY_PASS, ...STARS_FROM_PAID_MONTHLY_PASS].map(
		({ livePoints }) => livePoints,
	),
);
const songLevelChoices = new Set(
	[...song_map.values()].flatMap(({ fullComboRewards }) =>
		Object.values(fullComboRewards)
			.map((it) => it?.level)
			.filter((it) => it !== undefined),
	),
);
---

<BaseLayout
	title={`Free stars until ${gacha.name}`}
	description={`Calculate how much free stars you can get until ${gacha.name} banner ends`}
	image={(await getGachaBanner(Astro, { gacha })).src}
>
	{
		events.active && (
			<img
				{...await getEventAsset(Astro, {
					event: events.active,
					kind: "background",
				})}
				class="pointer-events-none fixed -z-1 h-screen w-screen object-cover"
			/>
		)
	}

	<div
		class="container mx-auto grid max-w-xs gap-2 py-8 sm:max-w-lg md:max-w-2xl md:grid-cols-2 lg:max-w-4xl lg:grid-cols-3"
	>
		<GachaCard
			{gacha}
			compact
			class:list={[
				"md:order-2",
				events.active && "bg-base-100/80 backdrop-blur-sm",
			]}
		>
			<Fragment slot="badge">
				<div>
					<div class="badge badge-neutral border-0 pl-0">
						<Icon
							class="size-6 rounded-full border border-current"
							name="emojione:flag-for-united-states"
						/>
						{gacha.startAt.jp.add(dateOffset).format("DD-MM-YYYY")}
						/
						{gacha.startAt.jp.add(dateOffset).fromNow()}
					</div>

					<div class="dropdown dropdown-end dropdown-top">
						<div
							tabindex="0"
							role="button"
							class="btn btn-circle btn-ghost btn-xs text-info"
						>
							<Icon tabindex="0" name="lucide:info" class="size-6" />
						</div>

						<div
							tabindex="0"
							class="card card-sm dropdown-content bg-base-100 rounded-box z-1 mb-2 w-64 shadow-sm"
						>
							<div tabindex="0" class="card-body">
								<h2 class="card-title">Predicted start date</h2>
								<p>
									This assumes ~{
										Math.round(dayjs.duration(dateOffset).asDays())
									}
									days difference between JP and EN server.
								</p>
							</div>
						</div>
					</div>
				</div>
			</Fragment>
		</GachaCard>

		<form
			id="calculate-gacha"
			up-target="#free-stars, #total-free-stars, #show-details"
			up-autosubmit
			up-disable
			class:list={[
				"bg-base-200 border-base-300 rounded-box grid h-full content-center gap-x-2 border p-4 sm:grid-cols-2 md:row-span-2 md:grid-cols-1 lg:col-span-2 lg:row-span-1 lg:grid-cols-2",
				events.active && "bg-base-200/67 backdrop-blur-sm",
			]}
		>
			<InputFieldset
				title="Events"
				class="sm:col-span-2 sm:grid-cols-2 md:col-span-1 md:grid-cols-1 lg:row-span-2"
				data-update="#free-stars-event"
			>
				<label class="select select-sm w-52">
					<span class="label">Event points</span>
					<select name="target_point">
						<option value="" disabled selected={options.target_point === 0}
							>Pick a point</option
						>

						{
							[...pointChoices]
								.sort((a, b) => b - a)
								.map((point) => (
									<option
										value={point}
										selected={options.target_point === point}
									>
										&ge;{formatNumber(point)}
									</option>
								))
						}
					</select>
				</label>

				<label class="select select-sm w-52">
					<span class="label">Event rank</span>
					<select name="target_rank">
						<option value="" disabled selected={options.target_rank === 0}
							>Pick a rank</option
						>

						{
							[...rankChoices]
								.sort((a, b) => a - b)
								.map((rank) => (
									<option value={rank} selected={options.target_rank === rank}>
										&le;T{formatNumber(rank)}
									</option>
								))
						}
					</select>
				</label>

				<label class="label sm:col-span-2 md:col-span-1">
					<input
						name="read_event_story"
						type="checkbox"
						class="checkbox"
						value="true"
						checked={options.read_event_story}
					/>
					Read event stories
				</label>
			</InputFieldset>

			<InputFieldset
				title="Daily"
				class="flex justify-evenly sm:col-span-2 md:col-span-1"
				data-update="#free-stars-passive"
			>
				<label class="label">
					<input
						name="daily_login"
						type="checkbox"
						class="checkbox checkbox-sm"
						value="true"
						checked={options.daily_login}
					/>
					Daily Login
				</label>

				<label class="label">
					<input
						name="daily_live"
						type="checkbox"
						class="checkbox checkbox-sm"
						value="true"
						checked={options.daily_live}
					/>
					Daily Live
				</label>
			</InputFieldset>

			<InputFieldset title="Monthly Pass" data-update="#free-stars-passive">
				<div class="flex w-full justify-evenly">
					<label class="label">
						<input
							id="monthly_pass_type_free"
							name="monthly_pass_type"
							type="radio"
							class="radio checkbox-sm"
							value="free"
							checked={options.monthly_pass_type === "free"}
						/>
						Free
					</label>

					<label class="label">
						<input
							id="monthly_pass_type_paid"
							name="monthly_pass_type"
							type="radio"
							class="radio checkbox-sm"
							value="paid"
							checked={options.monthly_pass_type === "paid"}
						/>
						Paid
					</label>
				</div>

				<label class="select select-sm w-52">
					<span class="label">Live points</span>
					<select name="monthly_pass_points">
						<option
							value=""
							disabled
							selected={options.monthly_pass_points === 0}>Pick point</option
						>

						{
							[...livePointChoices]
								.sort((a, b) => b - a)
								.map((livePoint) => (
									<option
										value={livePoint}
										selected={options.monthly_pass_points === livePoint}
									>
										&ge;{formatNumber(livePoint)}
									</option>
								))
						}
					</select>
				</label>
			</InputFieldset>

			<InputFieldset
				title="Songs"
				class="lg:col-span-2 lg:grid-cols-2"
				data-update="#free-stars-song"
			>
				<div class="flex w-full justify-evenly">
					<label class="label">
						<input
							name="song_s_score"
							type="checkbox"
							class="checkbox checkbox-sm"
							value="true"
							checked={options.song_s_score}
						/>
						S Score
					</label>
					<label class="label">
						<input
							name="song_ss_score"
							type="checkbox"
							class="checkbox checkbox-sm"
							value="true"
							checked={options.song_ss_score}
						/>
						SS Score
					</label>
				</div>

				<label class="select select-sm w-52">
					<span class="label">Full combo</span>

					<select name="song_full_combo_level">
						<option
							value=""
							disabled
							selected={options.song_full_combo_level === 0}>Pick level</option
						>

						{
							[...songLevelChoices]
								.sort((a, b) => a - b)
								.map((level) => (
									<option
										value={level}
										selected={options.song_full_combo_level === level}
									>
										Level &le;{level}
									</option>
								))
						}
					</select>
				</label>
			</InputFieldset>
		</form>

		<div id="free-stars" class="contents">
			<FreeStarsCard
				id="free-stars-event"
				title="Free stars (events)"
				backdrop={!!events.active}
			>
				<FreeStarsEvents events={allEvents} {options} />
			</FreeStarsCard>

			<FreeStarsCard
				id="free-stars-passive"
				title="Free stars (passive)"
				backdrop={!!events.active}
			>
				<FreeStarsDaily {from} {to} {options} />
				<FreeStarsMonthlyPass {from} {to} {options} />
			</FreeStarsCard>

			<FreeStarsCard
				id="free-stars-song"
				title="Free stars (songs)"
				backdrop={!!events.active}
			>
				<FreeStarsSongs until={to} {options} />
			</FreeStarsCard>
		</div>

		<div id="show-details" class="contents">
			<ShowDetailsButton
				size="medium"
				href={`/calculate-gacha/${Astro.params.gacha_id}/partials/song-list${Astro.url.search}`}
				class="max-md:hidden md:order-3 md:col-span-2 lg:col-span-1"
				active={options.song_s_score ||
					options.song_ss_score ||
					options.song_full_combo_level > 0}
			>
				Show details (songs)
			</ShowDetailsButton>

			<ShowDetailsButton
				size="large"
				href={`/calculate-gacha/${Astro.params.gacha_id}/partials/calendar${Astro.url.search}`}
				class="max-md:hidden md:order-3 md:col-span-2"
				active={options.target_point > 0 ||
					options.target_rank > 0 ||
					options.read_event_story ||
					options.daily_login ||
					options.daily_live}
			>
				Show details (daily &amp; events)
			</ShowDetailsButton>

			<div class="fab md:hidden">
				<div
					tabindex="0"
					role="button"
					class="btn btn-xl btn-circle btn-secondary"
				>
					<Icon name="lucide:calculator" />
				</div>

				<div class="fab-close">
					<span class="btn btn-xl btn-circle btn-error">
						<Icon name="lucide:x" />
					</span>
				</div>

				<div>
					<ShowDetailsButton
						size="large"
						href={`/calculate-gacha/${Astro.params.gacha_id}/partials/calendar${Astro.url.search}`}
						active={options.target_point > 0 ||
							options.target_rank > 0 ||
							options.read_event_story ||
							options.daily_login ||
							options.daily_live}
					>
						Show details (daily &amp; events)
					</ShowDetailsButton>
				</div>
				<div>
					<ShowDetailsButton
						size="medium"
						href={`/calculate-gacha/${Astro.params.gacha_id}/partials/song-list${Astro.url.search}`}
						active={options.song_s_score ||
							options.song_ss_score ||
							options.song_full_combo_level > 0}
					>
						Show details (songs)
					</ShowDetailsButton>
				</div>
			</div>
		</div>

		<div
			id="total-free-stars"
			class="flex gap-1 max-sm:flex-col md:order-2 md:col-span-2 lg:col-span-3"
		>
			<div class="badge badge-primary badge-lg w-full font-medium">
				{formatNumber(total.stars)}&starf; ({pulls}&Cross; {
					pluralize(pulls, "Pull")
				})
			</div>

			<div class="badge badge-primary badge-lg w-full font-medium">
				{total.starGachaTicket}&Cross; {
					pluralize(total.starGachaTicket, "Star Gacha Ticket")
				}
			</div>
		</div>
	</div>
</BaseLayout>
