---
import { Icon } from "astro-icon/components";

import Fuse from "fuse.js";

import { card_list } from "@/contents/data";

import { randomInt, regionValue } from "~/lib/utilities";

export const partial = true;

const entries = card_list.values().toArray().reverse();

const searchWithFuse = (query: string) => {
	const fuse = new Fuse(entries, {
		threshold: 0.1,
		shouldSort: false,
		keys: [
			{ name: "character.name", weight: 2 },
			{ name: "band.name", weight: 1.5 },
			"name.en",
			"name.jp",
			"type",
			"attribute",
		],
	});

	return fuse.search(query).map(({ item }) => item);
};

const query = Astro.url.searchParams.get("query")?.toLowerCase();
const showTrained = Astro.url.searchParams.get("showTrained") === "true";

const filtered = query ? searchWithFuse(query) : entries;

const pageSize = 25;
const maxPage = Math.ceil(filtered.length / pageSize);

const pageQuery = Number(Astro.url.searchParams.get("page") ?? NaN);
const currentPage = Math.max(
	1,
	Math.min(maxPage, Number.isNaN(pageQuery) ? 1 : pageQuery),
);

const nextPage = new URL(Astro.url);
nextPage.searchParams.set("page", `${currentPage + 1}`);

const offset = pageSize * (currentPage - 1);
const items = filtered.slice(offset, offset + pageSize);
---

<main class="flex flex-col items-center gap-y-4">
	<form
		up-target="#card-list, #next-page, #view-full-card"
		up-autosubmit
		up-watch-delay="500"
		up-watch-disable
		up-watch-placeholder="#card-list-placeholder"
		class="flex w-full gap-4 px-4 pt-2 max-sm:flex-col"
	>
		<label class="input sm:flex-1">
			<Icon name="lucide:search" />
			<input
				type="search"
				name="query"
				placeholder="Search cards..."
				autofocus
			/>
		</label>

		<label class="label">
			<input
				up-watch-delay="0"
				type="checkbox"
				class="checkbox checkbox-sm"
				name="showTrained"
				value="true"
			/>
			Show trained
		</label>
	</form>

	<ul id="card-list" class="list w-full">
		{
			items.length === 0 ? (
				<li class="list-row">
					<p class="list-col-grow text-center">No cards found.</p>
				</li>
			) : (
				items.map(({ id, name, character, band, attribute, rarity, type }) => (
					<li
						data-attribute={attribute}
						data-band-id={band.id}
						class="group list-row hover:color-band select-none"
					>
						<div>
							<a
								up-layer="new popup"
								up-size="grow"
								up-fragment="#view-full-card"
								up-use-data={JSON.stringify({
									id,
									name: `${character.name} - ${regionValue.unwrap(name)}`,
								})}
							>
								<img
									class="rounded-box size-12"
									src={
										showTrained
											? `/static/assets/card/${id}_icon-trained.webp`
											: `/static/assets/card/${id}_icon.webp`
									}
									loading="lazy"
								/>
							</a>
						</div>

						<div class="flex flex-col items-start gap-1">
							<button
								up-accept={`{ id: "${id}" }`}
								class="cursor-pointer text-sm font-semibold group-hover:font-medium group-hover:underline"
							>
								{regionValue.unwrap(name)}
							</button>

							<div class="inline-flex flex-wrap gap-1">
								<span class="badge badge-sm color-band group-hover:color-band-alt line-clamp-1 border border-current font-medium">
									{band.name} &bullet; {character.name}
								</span>

								<span class="badge badge-sm color-attribute group-hover:color-attribute-alt border border-white font-medium">
									{type.toUpperCase()} &bullet; {attribute.toUpperCase()}{" "}
									&starf;{rarity}
								</span>
							</div>
						</div>
					</li>
				))
			)
		}
	</ul>

	{
		currentPage < maxPage ? (
			<a
				id="next-page"
				href={nextPage.href}
				up-defer="reveal"
				up-target="#next-page, #card-list:after"
				class="btn btn-wide"
			>
				Next page
			</a>
		) : (
			<div id="next-page" />
		)
	}

	<template id="card-list-placeholder">
		<ul class="list w-full">
			{
				Array.from({ length: 10 }, () => (
					<li class="list-row my-0.5 flex gap-2">
						<div class="skeleton size-12" />

						<div class="flex flex-col gap-2">
							<div
								class="skeleton h-4"
								style={`width: ${randomInt(120, 196)}px;`}
							/>

							<div class="flex gap-2">
								<div
									class="skeleton h-4"
									style={`width: ${randomInt(96, 128)}px;`}
								/>
								<div
									class="skeleton h-4"
									style={`width: ${randomInt(64, 96)}px;`}
								/>
							</div>
						</div>
					</li>
				))
			}
		</ul>
	</template>

	<template id="view-full-card" type="text/minimustache">
		<figure class="hover-gallery rounded-box aspect-4/3 w-64 sm:w-lg">
			{
				(showTrained ? [true, false] : [false, true]).map((trained) => (
					<img
						src={
							trained
								? "/static/assets/card/{{id}}_trained.webp"
								: "/static/assets/card/{{id}}.webp"
						}
						alt={trained ? "Trained " : "" + "{{name}}"}
					/>
				))
			}
		</figure>
	</template>
</main>
