---
import { Icon } from "astro-icon/components";

import { card_map, character_map } from "@/contents/data";

import { createIndex, filterList } from "~/lib/search/card";
import { randomInt, regionValue } from "~/lib/utilities";

export const partial = true;

const pageSize = 25;
const pageQuery = Number(Astro.url.searchParams.get("page") ?? NaN);
const currentPage = Math.max(1, Number.isNaN(pageQuery) ? 1 : pageQuery);
const offset = pageSize * (currentPage - 1);

const nextPage = new URL(Astro.url);
nextPage.searchParams.set("page", `${currentPage + 1}`);

const query = Astro.url.searchParams.get("query")?.toLowerCase();

const sessionFilters = await Astro.session?.get("card_filters");
const filters = filterList
	.map(({ props: { name }, getValue }) => ({
		name,
		getValue,
		value: Astro.url.searchParams.get(name) ?? sessionFilters?.[name],
	}))
	.filter(({ value }) => value);

const filterMap = Object.fromEntries(
	filters.map(({ name, value }) => [name, value!]),
);
Astro.session?.set("card_filters", filterMap);

const oldestFirst = Astro.url.searchParams.get("oldest_first") === "true";
const showTrained = Astro.url.searchParams.get("show_trained") === "true";

const items = (() => {
	if (query) {
		return createIndex(oldestFirst)
			.search({ query, suggest: true })
			.flatMap((entries) => entries.result.map((id) => id.toString()));
	}

	const keys = [...card_map.keys()];
	return oldestFirst ? keys : keys.reverse();
})().map((id) => card_map.get(id)!);

const filtered = filters
	.reduce(
		(acc, { value, getValue }) =>
			acc.filter((entry) => getValue(entry) === value),
		items,
	)
	.slice(offset, offset + pageSize);
---

<main class="flex flex-col items-center gap-y-4">
	<form
		up-target="#card-list, #next-page, #suggest-characters, #filter-list"
		up-autosubmit
		up-watch-delay="500"
		up-watch-disable
		up-watch-placeholder="#card-list-placeholder"
		class="join w-full px-4 pt-2"
	>
		<input type="hidden" name="page" value="1" />

		<label class="input join-item flex-1">
			<Icon name="lucide:search" />
			<input
				type="search"
				name="query"
				placeholder="Search cards..."
				list="suggest-characters"
				autofocus
			/>

			<datalist id="suggest-characters">
				{
					[...character_map.values()]
						.filter(({ band }) => !filterMap.band || filterMap.band === band.id)
						.map(({ name }) => <option value={regionValue.unwrap(name)} />)
				}
			</datalist>
		</label>

		<div>
			{filterList.map(({ props: { name } }) => <input type="hidden" {name} />)}

			<a
				up-layer="new"
				up-fragment="#filter-list"
				up-on-accepted="applyFormValueToSiblings(this, value); up.submit(this)"
				class="btn btn-square join-item"
			>
				<Icon name="lucide:filter" />

				<template id="filter-list">
					<form up-accept class="mx-0.5 flex flex-col gap-1 py-4">
						{
							filterList.map(
								({ label, options, props: { class: className, ...props } }) => (
									<fieldset class="fieldset bg-base-200 border-base-300 rounded-box p-2 pt-1 text-sm">
										<legend class="fieldset-legend">{label}</legend>
										<div class="filter">
											<input
												class="btn btn-sm filter-reset"
												type="radio"
												name={props.name}
												aria-label="all"
												value="false"
											/>

											{options.map((option) => (
												<input
													type="radio"
													{...props}
													class:list={["btn btn-sm", className]}
													{...option}
													checked={filterMap[props.name] === option.value}
												/>
											))}
										</div>
									</fieldset>
								),
							)
						}

						<button class="btn btn-sm btn-primary mt-2 w-full"
							>Apply filter</button
						>
					</form>
				</template>
			</a>
		</div>

		<div class="dropdown dropdown-end">
			<div tabindex="0" role="button" class="btn btn-square join-item">
				<Icon name="lucide:ellipsis-vertical" />
			</div>
			<div
				tabindex="-1"
				class="dropdown-content bg-base-100 rounded-box z-1 mt-2 p-4 pb-3 shadow-sm"
			>
				<label class="label text-sm">
					<input
						up-watch-delay="0"
						type="checkbox"
						class="checkbox checkbox-sm"
						name="show_trained"
						value="true"
					/>
					Show trained
				</label>

				<label class="label text-sm">
					<input
						up-watch-delay="0"
						type="checkbox"
						class="checkbox checkbox-sm"
						name="oldest_first"
						value="true"
					/>
					Oldest first
				</label>
			</div>
		</div>
	</form>

	<ul id="card-list" class="list w-full">
		{
			filtered.map(({ id, name, character, band, attribute, rarity, type }) => (
				<li
					data-attribute={attribute}
					data-band-id={band.id}
					class="group list-row hover:color-band select-none"
				>
					<div>
						<a
							up-layer="new"
							up-size="grow"
							up-fragment="#view-full-card"
							up-use-data={JSON.stringify({
								id,
								name: `${character.name} - ${regionValue.unwrap(name)}`,
							})}
						>
							<img
								class="rounded-box size-12"
								src={
									showTrained
										? `/static/assets/card/${id}_icon-trained.webp`
										: `/static/assets/card/${id}_icon.webp`
								}
								loading="lazy"
							/>

							<template id="view-full-card" type="text/minimustache">
								<div class="tabs tabs-lift w-64 sm:w-lg">
									{[false, true].map((trained) => (
										<>
											<input
												type="radio"
												name="card_image"
												class="tab"
												aria-label={trained ? "Trained" : "Normal"}
												checked={showTrained ? trained : !trained}
											/>
											<div class="tab-content border-base-300 bg-base-100 aspect-4/3 w-64 px-4 py-2 sm:w-lg">
												<img
													src={
														trained
															? "/static/assets/card/{{id}}_trained.webp"
															: "/static/assets/card/{{id}}.webp"
													}
													alt={trained ? "Trained " : "" + "{{name}}"}
												/>
											</div>
										</>
									))}
								</div>
							</template>
						</a>
					</div>

					<div class="flex flex-col items-start gap-1">
						<button
							up-accept={`{ id: "${id}" }`}
							class="cursor-pointer text-start text-sm font-semibold group-hover:font-medium group-hover:underline"
						>
							{regionValue.unwrap(name)}
						</button>

						<div class="inline-flex flex-wrap gap-1">
							<span class="badge badge-sm color-band group-hover:color-band-alt line-clamp-1 border border-current font-medium">
								{band.name} &bullet; {character.name}
							</span>

							<span class="badge badge-sm color-attribute group-hover:color-attribute-alt border border-white font-medium">
								{type.toUpperCase()} &bullet; {attribute.toUpperCase()} &starf;
								{rarity}
							</span>
						</div>
					</div>
				</li>
			))
		}
	</ul>
	<template id="card-list-placeholder">
		<ul class="list w-full">
			{
				Array.from({ length: 10 }, () => (
					<li class="list-row my-0.5 flex gap-2">
						<div class="skeleton size-12" />

						<div class="flex flex-col gap-2">
							<div
								class="skeleton h-4"
								style={`width: ${randomInt(120, 196)}px;`}
							/>

							<div class="flex gap-2">
								<div
									class="skeleton h-4"
									style={`width: ${randomInt(96, 128)}px;`}
								/>
								<div
									class="skeleton h-4"
									style={`width: ${randomInt(64, 96)}px;`}
								/>
							</div>
						</div>
					</li>
				))
			}
		</ul>
	</template>

	{
		filtered.length === pageSize ? (
			<a
				id="next-page"
				href={nextPage.href}
				up-defer="reveal"
				up-target="#next-page, #card-list:after"
				class="btn btn-wide"
			>
				Next page
			</a>
		) : (
			<div id="next-page" class="text-base-content/50 text-sm font-semibold">
				{filtered.length === 0 && currentPage === 1
					? "No cards found."
					: currentPage > 1 && "No more cards."}
			</div>
		)
	}
</main>
