---
import { Icon } from "astro-icon/components";

import { card_map, character_map } from "@/contents/data";

import { getCardAssetUrl } from "~/lib/assets";
import { search } from "~/lib/search";
import { filterList, searchCard } from "~/lib/search/card";
import FilterListForm from "~/lib/search/components/filter-list-form.astro";
import NextPageButton from "~/lib/search/components/next-page-button.astro";
import OptionsDropdown from "~/lib/search/components/options-dropdown.astro";
import { randomInt } from "~/lib/utilities";

export const partial = true;

const { results, filterMap, options, page } = await search({
	context: Astro,
	sessionKey: "card_search",
	data_map: card_map,
	pageSize: 25,
	filterList,
	searchFn: searchCard,
});
---

<main class="flex flex-col items-center gap-y-4">
	<form
		up-target="#card-list, #next-page, #suggestions, #filter-list, #show-full-card"
		up-autosubmit
		up-disable
		up-placeholder="#card-list-placeholder"
		up-watch-delay="500"
		up-watch-disable
		up-watch-placeholder="#card-list-placeholder"
		class="join w-full px-4 pt-2"
	>
		<input type="hidden" name="page" value="1" />

		<label class="input join-item flex-1">
			<Icon name="lucide:search" />
			<input
				type="search"
				name="query"
				placeholder="Search cards..."
				list="suggestions"
				autofocus
			/>

			<datalist id="suggestions">
				{
					[...character_map.values()]
						.filter(
							({ band }) =>
								filterMap.band.length === 0 ||
								!filterMap.band.includes(band.id),
						)
						.map(({ name: value }) => <option {value} />)
				}
			</datalist>
		</label>

		<FilterListForm {filterList} {filterMap} />
		<OptionsDropdown {options} />
	</form>

	<div id="card-list" class="contents">
		<ul class="list w-full">
			{
				results.map(
					({ id, name, character, band, attribute, rarity, type }) => {
						const showFullCardOnClick = {
							"up-layer": "new",
							"up-size": "large",
							"up-fragment": "#show-full-card",
							"up-use-data": JSON.stringify({
								id,
								band: band.id,
								name: `${character.name} - ${name}`,
							}),
							"up-on-opened":
								"__unpoly_animateShowFullCard(this, layer.element)",
							"up-on-dismissed":
								"__unpoly_animateShowFullCard(this, layer.element, true)",
						};

						return (
							<li
								data-attribute={attribute}
								data-band-id={band.id}
								class="group list-row hover:bg-bandori-band hover:text-bandori-band-content select-none"
							>
								<div>
									<a {...showFullCardOnClick}>
										<img
											class="rounded-box size-12"
											src={getCardAssetUrl("icon", options.show_trained, id)}
											loading="lazy"
										/>
									</a>
								</div>

								<div class="flex flex-col items-start gap-1">
									<a
										{...showFullCardOnClick}
										class="text-start text-sm font-semibold group-hover:font-medium group-hover:underline"
									>
										{name}
									</a>

									<div class="inline-flex flex-wrap gap-1">
										<span class="badge badge-sm bg-bandori-band text-bandori-band-content group-hover:bg-bandori-band-alt line-clamp-1 border border-current font-medium">
											{band.name} &bullet; {character.name}
										</span>

										<span class="badge badge-sm bg-bandori-attribute text-bandori-attribute-content group-hover:bg-bandori-attribute-alt border border-white font-medium">
											{type.toUpperCase()} &bullet; {attribute.toUpperCase()}{" "}
											&starf;
											{rarity}
										</span>
									</div>
								</div>
							</li>
						);
					},
				)
			}
		</ul>
	</div>

	<template id="card-list-placeholder">
		<ul class="list w-full">
			{
				Array.from({ length: 10 }, () => (
					<li class="list-row my-0.5 flex gap-2">
						<div class="skeleton size-12" />

						<div class="flex flex-col gap-2">
							<div
								class="skeleton h-4"
								style={`width: ${randomInt(120, 196)}px;`}
							/>

							<div class="flex gap-2">
								<div
									class="skeleton h-4"
									style={`width: ${randomInt(96, 128)}px;`}
								/>
								<div
									class="skeleton h-4"
									style={`width: ${randomInt(64, 96)}px;`}
								/>
							</div>
						</div>
					</li>
				))
			}
		</ul>
	</template>
	<template id="show-full-card" type="text/minimustache">
		<div data-band-id="{{band}}" class="grid gap-4">
			<h1 is:raw class="text-xl font-semibold">{{name}}</h1>

			<div class="flex flex-col gap-4 sm:flex-col-reverse">
				<div class="tabs tabs-box max-sm:tabs-bottom max-sm:pb-4">
					{
						[false, true].map((trained) => {
							const active = options.show_trained ? trained : !trained;

							return (
								<>
									<input
										type="radio"
										name="card_image"
										class="tab checked:text-bandori-band-content flex-1 font-medium [--tab-bg:var(--band-color)] hover:[--tab-bg:var(--band-color-alt)] max-sm:mt-2"
										aria-label={trained ? "Trained" : "Normal"}
										checked={active}
									/>
									<div class="tab-content shadow-bandori-band px-2 py-1 shadow-sm">
										<img
											src={getCardAssetUrl("full", trained, "{{id}}")}
											alt={trained ? "Trained " : "" + "{{name}}"}
											class:list={[
												active && "hidden",
												"rounded-box border-base-300 aspect-4/3 w-full border",
											]}
										/>
									</div>
								</>
							);
						})
					}
				</div>

				<main>
					<a
						href="/partials/select-gacha/{{id}}"
						up-follow
						up-scroll="false"
						class="scroll-here btn bg-bandori-band hover:bg-bandori-band-alt text-bandori-band-content sm:absolute-center-x sm:btn-wide scroll-mb-8 max-sm:w-full sm:absolute sm:bottom-20"
						>Show Gacha List</a
					>
				</main>
			</div>
		</div>
	</template>

	<NextPageButton {page} item={{ length: results.length, name: "card" }} />
</main>
