---
import { Icon } from "astro-icon/components";

import { card_map, character_map } from "@/contents/data";
import { getCardAssetUrl } from "~/lib/assets";
import { search } from "~/lib/search";
import { filterList, searchCard } from "~/lib/search/card";
import FilterListForm from "~/lib/search/components/filter-list-form.astro";
import NextPageButton from "~/lib/search/components/next-page-button.astro";
import OptionsDropdown from "~/lib/search/components/options-dropdown.astro";
import { randomInt } from "~/lib/utilities";
import { showFullCardModalOnClick } from "./view-card/_helper";

export const partial = true;

const { results, filterMap, options, page } = await search({
	context: Astro,
	sessionKey: "card_search",
	data_map: card_map,
	pageSize: 25,
	filterList,
	searchFn: searchCard,
});

const showFullCardOnClick = (id: string) =>
	showFullCardModalOnClick(
		{ id },
		{ show_trained: options.show_trained, show_gacha_list: true },
	);
---

<main class="flex flex-col items-center gap-y-4">
	<form
		up-target="#card-list, #next-page, #suggestions, #filter-list, #show-full-card"
		up-autosubmit
		up-disable
		up-placeholder="#card-list-placeholder"
		up-watch-delay="500"
		up-watch-disable
		up-watch-placeholder="#card-list-placeholder"
		class="join w-full px-4 pt-2"
	>
		<input type="hidden" name="page" value="1" />

		<label class="input join-item flex-1">
			<Icon name="lucide:search" />
			<input
				type="search"
				name="query"
				placeholder="Search cards..."
				list="suggestions"
				autofocus
			/>

			<datalist id="suggestions">
				{
					[...character_map.values()]
						.filter(
							({ band }) =>
								filterMap.band.length === 0 ||
								!filterMap.band.includes(band.id),
						)
						.map(({ name: value }) => <option {value} />)
				}
			</datalist>
		</label>

		<FilterListForm {filterList} {filterMap} />
		<OptionsDropdown {options} />
	</form>

	<div id="card-list" class="contents">
		<ul class="list w-full">
			{
				results.map((card) => (
					<li
						data-attribute={card.attribute}
						data-band-id={card.band.id}
						class="group list-row hover:bg-bandori-band hover:text-bandori-band-content select-none"
					>
						<div>
							<a {...showFullCardOnClick(card.id)}>
								<img
									class="rounded-box size-12"
									src={getCardAssetUrl("icon", options.show_trained, card.id)}
									loading="lazy"
								/>
							</a>
						</div>

						<div class="flex flex-col items-start gap-1">
							<a
								{...showFullCardOnClick(card.id)}
								class="text-start text-sm font-semibold group-hover:font-medium group-hover:underline"
							>
								{card.name}
							</a>

							<div class="inline-flex flex-wrap gap-1">
								<span class="badge badge-sm bg-bandori-band text-bandori-band-content group-hover:bg-bandori-band-alt line-clamp-1 border border-current font-medium">
									{card.band.name} &bullet; {card.character.name}
								</span>

								<span class="badge badge-sm bg-bandori-attribute text-bandori-attribute-content group-hover:bg-bandori-attribute-alt border border-white font-medium">
									{card.type.toUpperCase()} &bullet;{" "}
									{card.attribute.toUpperCase()} &starf;
									{card.rarity}
								</span>
							</div>
						</div>
					</li>
				))
			}
		</ul>
	</div>

	<template id="card-list-placeholder">
		<ul class="list w-full">
			{
				Array.from({ length: 10 }, () => (
					<li class="list-row my-0.5 flex gap-2">
						<div class="skeleton size-12" />

						<div class="flex flex-col gap-2">
							<div
								class="skeleton h-4"
								style={`width: ${randomInt(120, 196)}px;`}
							/>

							<div class="flex gap-2">
								<div
									class="skeleton h-4"
									style={`width: ${randomInt(96, 128)}px;`}
								/>
								<div
									class="skeleton h-4"
									style={`width: ${randomInt(64, 96)}px;`}
								/>
							</div>
						</div>
					</li>
				))
			}
		</ul>
	</template>

	<NextPageButton {page} item={{ length: results.length, name: "card" }} />
</main>
