---
import { Icon } from "astro-icon/components";

import { card_list, character_list } from "@/contents/data";

import { createIndex } from "~/lib/search/card";
import { randomInt, regionValue } from "~/lib/utilities";

export const partial = true;

const pageSize = 25;
const pageQuery = Number(Astro.url.searchParams.get("page") ?? NaN);
const currentPage = Math.max(1, Number.isNaN(pageQuery) ? 1 : pageQuery);
const offset = pageSize * (currentPage - 1);

const nextPage = new URL(Astro.url);
nextPage.searchParams.set("page", `${currentPage + 1}`);

const query = Astro.url.searchParams.get("query")?.toLowerCase();
const oldestFirst = Astro.url.searchParams.get("oldest_first") === "true";
const showTrained = Astro.url.searchParams.get("show_trained") === "true";

const items = (() => {
	if (query) {
		return createIndex(oldestFirst)
			.search({ query, limit: pageSize, offset, merge: true, suggest: true })
			.map(({ id }) => card_list.get(id.toString())!);
	}

	const keys = [...card_list.keys()];
	if (!oldestFirst) keys.reverse();
	return keys.slice(offset, offset + pageSize).map((id) => card_list.get(id)!);
})();
---

<main class="flex flex-col items-center gap-y-4">
	<form
		up-target="#card-list, #next-page, #view-full-card"
		up-autosubmit
		up-watch-delay="500"
		up-watch-disable
		up-watch-placeholder="#card-list-placeholder"
		class="flex w-full gap-4 px-4 pt-2"
	>
		<label class="input flex-1">
			<Icon name="lucide:search" />
			<input
				type="search"
				name="query"
				placeholder="Search cards..."
				list="all_characters"
				autofocus
			/>

			<datalist id="all_characters">
				{
					[...character_list.values()].map(({ name }) => (
						<option value={regionValue.unwrap(name)} />
					))
				}
			</datalist>
		</label>

		<div class="dropdown dropdown-end">
			<div tabindex="0" role="button" class="btn btn-circle">
				<Icon name="lucide:ellipsis-vertical" />
			</div>
			<div
				tabindex="-1"
				class="dropdown-content bg-base-100 rounded-box z-1 mt-2 p-4 pb-3 shadow-sm"
			>
				<label class="label text-sm">
					<input
						up-watch-delay="0"
						type="checkbox"
						class="checkbox checkbox-sm"
						name="show_trained"
						value="true"
					/>
					Show trained
				</label>

				<label class="label text-sm">
					<input
						up-watch-delay="0"
						type="checkbox"
						class="checkbox checkbox-sm"
						name="oldest_first"
						value="true"
					/>
					Oldest first
				</label>
			</div>
		</div>
	</form>

	<ul id="card-list" class="list w-full">
		{
			items.map(({ id, name, character, band, attribute, rarity, type }) => (
				<li
					data-attribute={attribute}
					data-band-id={band.id}
					class="group list-row hover:color-band select-none"
				>
					<div>
						<a
							up-layer="new"
							up-size="grow"
							up-fragment="#view-full-card"
							up-use-data={JSON.stringify({
								id,
								name: `${character.name} - ${regionValue.unwrap(name)}`,
							})}
						>
							<img
								class="rounded-box size-12"
								src={
									showTrained
										? `/static/assets/card/${id}_icon-trained.webp`
										: `/static/assets/card/${id}_icon.webp`
								}
								loading="lazy"
							/>
						</a>
					</div>

					<div class="flex flex-col items-start gap-1">
						<button
							up-accept={`{ id: "${id}" }`}
							class="cursor-pointer text-sm font-semibold group-hover:font-medium group-hover:underline"
						>
							{regionValue.unwrap(name)}
						</button>

						<div class="inline-flex flex-wrap gap-1">
							<span class="badge badge-sm color-band group-hover:color-band-alt line-clamp-1 border border-current font-medium">
								{band.name} &bullet; {character.name}
							</span>

							<span class="badge badge-sm color-attribute group-hover:color-attribute-alt border border-white font-medium">
								{type.toUpperCase()} &bullet; {attribute.toUpperCase()} &starf;
								{rarity}
							</span>
						</div>
					</div>
				</li>
			))
		}
	</ul>

	{
		items.length === pageSize ? (
			<a
				id="next-page"
				href={nextPage.href}
				up-defer="reveal"
				up-target="#next-page, #card-list:after"
				class="btn btn-wide"
			>
				Next page
			</a>
		) : (
			<div id="next-page" class="text-base-content/50 text-sm font-semibold">
				{items.length === 0 && currentPage === 1
					? "No cards found."
					: currentPage > 1 && "No more cards."}
			</div>
		)
	}

	<template id="card-list-placeholder">
		<ul class="list w-full">
			{
				Array.from({ length: 10 }, () => (
					<li class="list-row my-0.5 flex gap-2">
						<div class="skeleton size-12" />

						<div class="flex flex-col gap-2">
							<div
								class="skeleton h-4"
								style={`width: ${randomInt(120, 196)}px;`}
							/>

							<div class="flex gap-2">
								<div
									class="skeleton h-4"
									style={`width: ${randomInt(96, 128)}px;`}
								/>
								<div
									class="skeleton h-4"
									style={`width: ${randomInt(64, 96)}px;`}
								/>
							</div>
						</div>
					</li>
				))
			}
		</ul>
	</template>

	<template id="view-full-card" type="text/minimustache">
		<div class="tabs tabs-lift w-64 sm:w-lg">
			{
				[false, true].map((trained) => (
					<>
						<input
							type="radio"
							name="card_image"
							class="tab"
							aria-label={trained ? "Trained" : "Normal"}
							checked={showTrained ? trained : !trained}
						/>
						<div class="tab-content border-base-300 bg-base-100 aspect-4/3 w-64 px-4 py-2 sm:w-lg">
							<img
								src={
									trained
										? "/static/assets/card/{{id}}_trained.webp"
										: "/static/assets/card/{{id}}.webp"
								}
								alt={trained ? "Trained " : "" + "{{name}}"}
							/>
						</div>
					</>
				))
			}
		</div>
	</template>
</main>
