---
import { Icon } from "astro-icon/components";

import type { Entry } from "@/contents/data";
import { getCardAssetUrl, getGachaBannerUrl } from "~/lib/assets";
import { regionValue } from "~/lib/utilities";
import { showFullCardModalOnClick } from "~/pages/partials/view-card/_helper";

export interface Props {
	gacha: Entry<"gacha_map">;
	rate?: number;
}

const { gacha, rate } = Astro.props;

const showTrained = Astro.locals.search_options.show_trained;
---

<div class="group card bg-base-100 hover:shadow-bandori-band shadow-sm">
	<figure>
		<img
			src={getGachaBannerUrl(gacha.id)}
			alt={`Banner of ${gacha.name}`}
			class="aspect-3/1 w-full"
		/>
	</figure>
	<div class="card-body items-center justify-between gap-4 text-center">
		<a href="#" class="card-title group-hover:link line-clamp-2">{gacha.name}</a
		>

		<div class="flex flex-wrap justify-center gap-1.5 *:gap-1">
			{
				rate && (
					<div class="badge badge-primary font-medium">
						<Icon class="size-4" name="lucide:percent" />
						{rate}
					</div>
				)
			}

			<div class="badge badge-secondary font-medium">
				{gacha.type.toUpperCase()}
			</div>

			<div class="badge not-dark:badge-soft badge-neutral">
				<Icon
					class="size-6 rounded-full border border-current"
					name="emojione:flag-for-japan"
				/>
				{gacha.startAt.jp.format("DD/MM/YYYY")} ({gacha.startAt.jp.fromNow()})
			</div>
			{
				gacha.startAt.en && (
					<div class="badge not-dark:badge-soft badge-neutral">
						<Icon
							class="size-6 rounded-full border border-current"
							name="emojione:flag-for-united-states"
						/>
						{gacha.startAt.en.format("DD/MM/YYYY")} (
						{gacha.startAt.en.fromNow()})
					</div>
				)
			}
		</div>

		<ul class="flex flex-wrap gap-1">
			{
				regionValue
					.unwrap(gacha.rateUp)
					.reverse()
					.slice(0, 5)
					.map(({ card }) => (
						<li>
							<a {...showFullCardModalOnClick(card, { auto_scroll: true })}>
								<img
									src={getCardAssetUrl("icon", showTrained, card.id)}
									class="size-10"
								/>
							</a>
						</li>
					))
			}
		</ul>
	</div>
</div>
