---
import { Icon } from "astro-icon/components";

import { LATEST_EVENT_RELEASE_GAP, type Entry } from "@/contents/data";
import { getGachaBanner } from "~/lib/assets";
import { dayjs } from "~/lib/date";
import { regionValue } from "~/lib/utilities";
import CardIcon from "./card-icon.astro";

export interface Props {
	gacha: Entry<"gacha_map">;
	rate?: number;
	compact?: boolean;
	class?: string;
}

const { gacha, rate, compact, class: className } = Astro.props;

const options = Astro.locals.search_options;
const rateUpList = regionValue
	.unwrap(gacha.rateUp)
	.slice()
	.sort(
		({ card: a }, { card: b }) =>
			b.rarity - a.rarity ||
			(options.oldest_first
				? Number(a.id) - Number(b.id)
				: Number(b.id) - Number(a.id)),
	)
	.sort(
		({ card: a }, { card: b }) =>
			Number(b.type === "birthday") - Number(a.type === "birthday"),
	);

const link = `/calculate/${gacha.id}`;
const isCurrentPage = Astro.url.pathname.startsWith(link);
const linkProps = isCurrentPage ? {} : { "up-follow": true, href: link };
---

<div
	id={`gacha-card-${gacha.id}`}
	class:list={[
		"group card bg-base-100 hover:shadow-bandori-band shadow-sm",
		className,
	]}
>
	<a {...linkProps} class="contents">
		<figure>
			<img
				{...await getGachaBanner(Astro, { gacha })}
				class="aspect-3/1 w-full"
			/>
		</figure>
	</a>
	<div class="card-body items-center justify-between gap-4 text-center">
		<div class="tooltip" data-tip={gacha.name}>
			<a
				{...linkProps}
				class:list={[
					"card-title line-clamp-1",
					!isCurrentPage && "group-hover:link",
				]}
			>
				{gacha.name}
			</a>
		</div>

		<div
			class:list={[
				"flex items-center justify-center gap-1.5",
				rate !== undefined ? "flex-wrap" : "flex-col",
			]}
		>
			{
				rate && (
					<div class="badge badge-primary font-medium">
						<Icon class="size-4" name="lucide:percent" />
						{rate}
					</div>
				)
			}

			{
				!compact && (
					<div class="badge badge-secondary font-medium">
						{gacha.type.toUpperCase()}
					</div>
				)
			}

			<div class="badge badge-accent">
				JP :
				{gacha.startAt.jp.format("DD-MM-YYYY")}
				({gacha.startAt.jp.fromNow()})
			</div>

			<div
				class:list={[
					"badge",
					gacha.startAt.en ? "badge-primary" : "badge-neutral gap-1",
				]}
			>
				EN :
				{
					gacha.startAt.en ? (
						`${gacha.startAt.en.format("DD-MM-YYYY")} (${gacha.startAt.en.fromNow()})`
					) : (
						<>
							{gacha.startAt.jp
								.add(LATEST_EVENT_RELEASE_GAP)
								.format("DD-MM-YYYY")}

							<div class="dropdown dropdown-end dropdown-top">
								<div
									tabindex="0"
									role="button"
									class="btn btn-circle btn-ghost btn-xs text-info"
								>
									<Icon tabindex="0" name="lucide:info" class="size-6" />
								</div>

								<div
									tabindex="-1"
									class="card card-sm dropdown-content bg-base-100 rounded-box z-1 mb-2 w-64 shadow-sm"
								>
									<div class="card-body text-base-content items-center">
										<h2 class="card-title">Predicted start date</h2>
										<p class="font-medium underline">
											{gacha.startAt.jp.add(LATEST_EVENT_RELEASE_GAP).fromNow()}
										</p>
										<p>
											This assumes
											{"~" +
												Math.round(
													dayjs.duration(LATEST_EVENT_RELEASE_GAP).asDays(),
												)}
											days difference between JP and EN server.
										</p>
									</div>
								</div>
							</div>
						</>
					)
				}
			</div>
		</div>

		<ul class="flex gap-1">
			{
				rateUpList.slice(0, rateUpList.length > 5 ? 4 : 5).map(({ card }) => (
					<li>
						<CardIcon
							{card}
							options={{
								show_trained: options.show_trained,
								auto_scroll: true,
							}}
						/>
					</li>
				))
			}

			{
				rateUpList.length > 5 && (
					<li>
						<details class="dropdown dropdown-end dropdown-top">
							<summary class="btn btn-square rounded-box btn-neutral btn-outline size-12">
								<Icon name="lucide:chevron-up" />
							</summary>
							<div class="dropdown-content card card-sm bg-base-100 border-base-300 z-1 mb-2 w-64 border shadow-sm">
								<div class="card-body">
									<ul class="flex flex-row-reverse flex-wrap-reverse justify-center gap-1">
										{rateUpList.slice(5).map(({ card }) => (
											<li>
												<CardIcon
													{card}
													options={{
														show_trained: options.show_trained,
														auto_scroll: true,
													}}
												/>
											</li>
										))}
									</ul>
								</div>
							</div>
						</details>
					</li>
				)
			}
		</ul>
	</div>
</div>
