---
import { Icon } from "astro-icon/components";

import { card_map } from "@/contents/data";
import BaseLayout from "~/layouts/base-layout.astro";
import { getCardAsset } from "~/lib/assets";
import { hasNoPreTrained } from "~/lib/bestdori/asset";
import { randomInt, regionValue } from "~/lib/utilities";

const card = card_map.get(Astro.params.card_id!);
if (!card) {
	return new Response("Card not found.", { status: 404 });
}

const name = `${card.character.name} - ${card.name}`;
const tabName = `full_image_${randomInt(0, 1000)}`;
const noPreTrained = hasNoPreTrained(card);

const params = Astro.url.searchParams;
const showTrained = params.get("show_trained") === "true";
const showGachaList = params.get("show_gacha_list") === "true";
---

<BaseLayout
	title={name}
	description={`Card for ${name}`}
	image={(
		await getCardAsset(Astro, {
			card,
			kind: "full",
			trained: showTrained,
		})
	).src}
>
	<div data-band-id={card.band.id} class="grid gap-4 md:w-xl">
		<div class="inline-flex items-center gap-2 font-medium sm:gap-4">
			{
				card.voiceline && (
					<div class="dropdown dropdown-hover">
						<button
							data-play-audio={
								(
									await getCardAsset(Astro, {
										card,
										kind: "voiceline",
										trained: false,
									})
								).src
							}
							class="btn btn-circle not-disabled:bg-bandori-band not-disabled:text-bandori-band-content"
						>
							<Icon name="lucide:volume-2" class="size-6" />
						</button>

						<div
							tabindex="0"
							class="dropdown-content card card-sm bg-base-100 shadow-bandori-band z-1 mt-2 w-64 shadow-md"
						>
							<div class="card-body italic">
								{regionValue.unwrap(card.voiceline)}
							</div>
						</div>
					</div>
				)
			}

			<div>
				<p class="text-xl">{card.character.name}</p>
				<p class="text-sm">{card.name}</p>
			</div>
		</div>

		<div class="flex flex-col gap-4">
			<div class="tabs tabs-box tabs-bottom mx-auto w-full pb-4">
				{
					(noPreTrained ? [true] : [false, true]).map(async (trained) => {
						const active = showTrained ? trained : !trained;

						return (
							<>
								{!noPreTrained && (
									<input
										type="radio"
										name={tabName}
										class="tab checked:text-bandori-band-content mt-2 flex-1 font-medium [--tab-bg:var(--band-color)] hover:[--tab-bg:var(--band-color-alt)]"
										aria-label={trained ? "Trained" : "Normal"}
										checked={active}
									/>
								)}
								<div
									class:list={[
										!noPreTrained && "tab-content",
										"shadow-bandori-band rounded-box w-full px-2 py-1 shadow-sm",
									]}
								>
									<img
										{...await getCardAsset(Astro, {
											card,
											kind: "full",
											trained,
										})}
										class="rounded-box border-base-300 aspect-4/3 w-full border"
									/>
								</div>
							</>
						);
					})
				}
			</div>

			{
				showGachaList && regionValue.unwrap(card.rateUpGacha) && (
					<div id="select-gacha">
						<a
							up-target="#select-gacha"
							href={`/select/gacha/${card.id}`}
							up-follow
							up-scroll="false"
							class="btn bg-bandori-band-alt hover:bg-bandori-band text-bandori-band-content w-full"
						>
							Show Gacha List
						</a>
					</div>
				)
			}
		</div>
	</div>
</BaseLayout>
