---
import "~/styles/global.css";

interface Props {
	title: string;
	description: string;
	image: string;
}

const { title, description, image } = Astro.props;
const fullTitle = `${title} | bandori-stars`;
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/x-icon" href="/favicon.ico" />
		<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
		<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
		<link rel="icon" type="image/png" sizes="48x48" href="/favicon-48x48.png" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />

		<title>{fullTitle}</title>
		<meta name="description" content={description} />

		<meta property="og:type" content="website" />
		<meta property="og:title" content={fullTitle} />
		<meta property="og:description" content={description} />
		<meta
			property="og:url"
			content={new URL(Astro.url.pathname, Astro.url.origin).href}
		/>
		<meta property="og:image" content={new URL(image, Astro.url.origin).href} />
	</head>
	<body>
		<main up-main class="min-h-screen">
			<slot />
		</main>
	</body>
</html>

<script src="~/lib/unpoly"></script>
