---
import { Icon } from "astro-icon/components";

import { gacha_map } from "@/contents/data";
import NextPageButton from "~/components/next-page-button.astro";
import { getSongAlbumCover } from "~/lib/assets";
import { getDateOffset } from "~/lib/date";
import { sum } from "~/lib/math";
import { paginate } from "~/lib/paginate";
import { regionValue } from "~/lib/utilities";
import { calculateSongs } from "../_calculate";
import OptionsBadge from "../_components/options-badge.astro";
import { getOptions } from "../_options";

export const partial = true;

const gacha = gacha_map.get(Astro.params.gacha_id!);
if (!gacha) {
	return new Response("Gacha not found.", { status: 404 });
}

const events = regionValue.unwrap(gacha.events)!;
const dateOffset = getDateOffset((events.past.at(0) ?? events.active!).startAt);

const options = await getOptions(Astro);
const { results, page } = paginate({
	context: Astro,
	pageSize: 10,
	items: calculateSongs(gacha.endAt.jp, options).map((it) => ({
		...it,
		predicted: (it.data.specialReleasedAt ?? it.data.releasedAt).jp.add(
			dateOffset,
		),
		total: sum([
			...Object.values(it.fullCombo).map(({ stars }) => stars),
			...Object.values(it.score),
		]),
	})),
});
---

<main>
	<div
		class="my-4 inline-flex w-full flex-wrap justify-center gap-1 text-center font-medium"
	>
		<OptionsBadge name="S Score" value={options.song_s_score} />
		<OptionsBadge name="SS Score" value={options.song_ss_score} />
		<OptionsBadge
			name="Full Combo"
			value={options.song_full_combo_level}
			formattedValue={`Level ≤${options.song_full_combo_level}`}
			badgeClass="badge-secondary"
		/>
	</div>

	<div id="song-list">
		<ul class="list w-full">
			{
				results.map(async ({ data, fullCombo, score, predicted, total }) => (
					<li class="group list-row select-none">
						<div>
							<img
								{...await getSongAlbumCover(Astro, { song: data })}
								class="rounded-box size-12 md:size-16"
							/>
						</div>

						<div class="flex flex-col items-start gap-1.5">
							<span class="text-start text-sm font-semibold">{data.title}</span>

							<span class="badge badge-soft border-0 pl-0 text-xs">
								<Icon
									class="size-5 rounded-full border border-current"
									name="emojione:flag-for-united-states"
								/>
								{predicted.format("DD-MM-YYYY")} / {predicted.fromNow()}
							</span>

							<div class="inline-flex flex-wrap gap-1">
								{Object.entries(score)
									.filter(([, stars]) => stars > 0)
									.map(([label, stars]) => (
										<span class="badge badge-sm badge-primary">
											{label.toUpperCase()} &bullet; {stars}&starf;
										</span>
									))}

								{Object.entries(fullCombo).map(
									([difficulty, { level, stars }]) => (
										<span
											data-difficulty={difficulty}
											class="badge badge-sm badge-primary bg-bandori-difficulty text-bandori-difficulty-content group-hover:bg-bandori-difficulty-alt border-bandori-difficulty"
										>
											{difficulty.toUpperCase()}
											{level} &bullet; {stars}&starf;
										</span>
									),
								)}

								<span class="badge badge-sm badge-info">
									Total : {total}&starf;
								</span>
							</div>
						</div>
					</li>
				))
			}
		</ul>
	</div>

	<NextPageButton {page} item={{ length: results.length, name: "song" }} />
</main>
